/* Navbar CSS */
nav {
  width: 100%;
  display: flex;
  background-color: rgb(250, 250, 250);
  color: rgb(31, 31, 31);
  position: fixed;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: rgba(250, 250, 250);
}

nav ul li a {
  color: rgb(31, 31, 31);
  text-decoration: none;
  transition: color 0.3s, font-size 0.3s;
}

nav ul li a:hover {
  color: #f3a359;
  font-size: 1.3rem;
}

nav .nav-logo .hamburger {
  color: rgb(250, 250, 250);
}

nav .nav-logo a img {
  width: 50%;
}

nav .login-button {
  font-size: 18px;
  width: 8em;
  height: 2.5em;
  background: #f3a359;
  color: rgb(250, 250, 250);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Mobile display */
@media screen and (max-width: 576px) {
  nav {
    height: 80px;
    justify-content: space-between;
    padding: 30px 20px;
    position: fixed;
    z-index: 5;
  }

  nav ul {
    width: 100vw;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
  }

  nav .nav-logo {
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .nav-logo .hamburger {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
  }

  nav .nav-logo .hamburger i {
    font-size: 1.5rem;
    color: rgb(31, 31, 31);
  }

  .slide {
    transform: translateY(0);
    opacity: 1;
  }

  nav .login-button {
    display: none;
  }
}

/* Tablet display */
@media screen and (min-width: 768px) {
  nav {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: fixed;
    z-index: 5;
  }

  nav ul {
    width: 60%;
    justify-content: space-around;
  }

  nav .nav-logo .hamburger {
    display: none;
  }

  nav .login-button {
    display: none;
  }
}

/* Laptop display */
@media screen and (min-width: 990px) {
  nav ul {
    width: 40%;
    justify-content: space-around;
  }

  nav .login-button {
    display: inline;
  }
}

/* Dekstop display */
@media screen and (min-width: 1280px) {
  nav .nav-logo h3 {
    font-size: 1.5rem;
  }

  nav .nav-logo img {
    width: 80px;
  }
}
