/* Tablet display */
@media screen and (min-width: 768px) {
  header {
    width: 100%;
    padding: 150px 20px 0 20px;
    margin-bottom: 80px;
    display: flex;
  }

  header .headline {
    width: 50%;
  }

  header img {
    width: 57%;
  }

  header .headline h1 {
    margin-bottom: 15px;
  }

  .container {
    margin-bottom: 40px;
    padding: 25px;
  }

  .container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .courses .course-list {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .courses .course-list .item {
    width: 48%;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 35px;
  }

  .courses .course-list .item img {
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto 8px auto;
  }

  .courses .course-list .item h3 {
    text-align: center;
    font-size: 1.5rem;
  }

  .courses .course-list .item.bootstrap-course img {
    width: 100px;
    height: 100px;
    margin-bottom: -8px;
  }

  .courses .course-list .item p {
    line-height: 35px;
  }

  .secondary-button {
    font-size: 20px;
    width: 14em;
    height: 4em;
  }

  .projects,
  .testimonials,
  .subscribe {
    margin-top: 150px;
  }

  .projects p {
    margin: 0 auto;
    text-align: center;
  }

  .projects .project-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .projects .project-list .item {
    width: 48%;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px;
  }

  .projects .project-list .item img {
    width: 100%;
    display: block;
    margin: 0 auto 8px auto;
  }

  .projects .project-list .item h3 {
    text-align: center;
  }

  .projects .project-list .item p {
    line-height: 38px;
    text-align: left;
  }

  .testimonials .testimonial-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .testimonials .testimonial-list .item {
    width: 48%;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 25px;
  }

  .testimonials .testimonial-list .item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 20px auto;
  }

  .testimonials .testimonial-list .item h3 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5rem;
  }

  .testimonials .testimonial-list .item .ratings {
    margin: 0 auto 15px auto;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
  }

  .testimonials .testimonial-list .item .ratings i {
    margin: 0 5px;
  }

  .testimonials .testimonial-list .item p {
    font-style: italic;
    line-height: 30px;
  }

  .subscribe h2 {
    margin-bottom: 8px;
  }

  .subscribe p {
    line-height: 30px;
    text-align: center;
  }

  .subscribe form {
    width: 80%;
    margin: 0 auto;
  }

  .subscribe .form-element {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .subscribe form label {
    display: block;
    margin-bottom: 7px;
  }

  .subscribe form input {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    padding: 0 10px;
    transition: 0.3s;
    outline: none;
  }

  .subscribe form button {
    font-size: 16px;
    width: 9em;
    height: 3em;
    border: none;
    border-radius: 4px;
  }

  footer {
    padding: 20px 30px;
    flex-direction: column;
  }

  footer h4 {
    margin-bottom: 10px;
    font-size: 1.7rem;
  }

  footer i {
    font-size: 2.5rem;
  }

  footer .social-media h4 {
    margin-bottom: 25px;
  }

  footer .social-media a:nth-child(3) {
    margin: 0 50px;
  }

  footer .social-media {
    margin-bottom: 40px;
  }

  .copyright {
    text-align: center;
    padding: 25px;
  }

  .copyright p {
    font-size: 1.5rem;
  }
}
